/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system/*
/coverage/
/spec/tmp/*
/*.rbc
/.sass-cache/
/.redcar/
/.sass-cache/
/.bundle/
/db/schema.rb
/config/database.yml